.login-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    margin-left: 30px;
    /* width: 70vw; */
  }

  .login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10vh;
  }
  .mat-raised-button.mat-primary {
    background-color: primary;
}
.box{
  border: 1px solid;
  padding: 10px;
  box-shadow: 10px 12px;
  width: 25%;
}
h4{
  color: brown;
}

h2{
  text-align: center;
  color: red;
}